manifest {
  name = 'RefBuilder'
  homePage = 'https://github.com/GHAStVHenry/RefBuilder'
  description = 'This pipeline was created to build genome references.'
  mainScript = 'main.nf'
  version = 'v0.0.0'
  nextflowVersion = '>=20.01.0'
}

process {
  withName:build_hisat2 {
    container = 'quay.io/biocontainers/hisat2:2.2.1--h1b792b2_3'
    executor = 'slurm'
    queue = '256GB,256GBv1,384GB,128GB'
    clusterOptions = '--hold'
    time = '4h'
  }
  withName:build_star {
    container = 'quay.io/biocontainers/star:2.7.8a--h9ee0642_1'
    executor = 'slurm'
    queue = '256GB,256GBv1,384GB,128GB'
    clusterOptions = '--hold'
    time = '4h'
  }
}

singularity {
  enabled = true
}
